@media screen and ( max-width:1200px )
{ 
    .navbar{
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar-content{
        flex-wrap: wrap;
        justify-content:center ;
        gap: 10px;
    }
    .card-container{
        flex-wrap: wrap;
        justify-content: center;

    }
    .empty-container{
        display: none;
    }
    .content-container-1{
        text-align: center;
        align-items: center;
    }
    .content-container-2{
        text-align: center;
        align-items: center;
    }
    .experts-col-1{
        text-align: center;
        align-items: center;
    }
    .header{
        background-color: lightgrey;
        background-image: none;

    }
}