@media screen and ( max-width: 1000px)
{ 
.navbar{
    flex-wrap: wrap;
}
.navbar-content{
    flex-wrap: wrap;
    gap:10px;
}
.header-container-row1-col1{
    align-items: center;
    text-align: center;
}
}
@media screen and (max-width:1100px)
{
    .header-container-row1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-container-row1-col2{
        display: none;
    }
    .header-container-row2{
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .page-1-contianer-row-1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-container{
        align-items: center;
        text-align: center;
    }
    .content-container-2{
        align-items: center;    
        text-align: center;
    }
   
 }

  
